body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-box{
    background-color: darkblue;
    width: 750px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-item{
    background-color: tan;
    width: 100px;
    height: 100px;
}